services:

  app:
    image: docker.n8n.io/n8nio/n8n:1.72.0
    restart: always
    environment:
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
    volumes:
      - data:/home/node/.n8n
    networks:
      - frontend

volumes:
  data:

networks:
  frontend:
